.footer {
    padding-top: 95px;
    padding-bottom: 145px;
    padding-left: 275px;

    background-color: var(--bg-secondary-color);

    &__link {
        display: inline-block;
        max-width: 100%;

        @extend %typography;
        
        font-weight: 600;
        font-size: 25px;
        line-height: 1.2;

        color: var(--white-text-color);

        transition: scale 250ms;

        &--logo {
            font-weight: 900;
            font-size: 40px;
            line-height: 1.38;
        }

        &:hover,
        &:focus {
            scale: 1.05;
            text-shadow: 2px 2px 10px #ffffff;
        }
    }

    &__items:not(:last-child) {
        margin-bottom: 60px;
    }
}