/* header container */
.header {
    @extend %container;
    max-height: 80px;   
       
    border-bottom: 1px solid #D6D6D6;
}

.header__section {
    display: flex;
    justify-content: center;
    align-items: center;
}