.icon-logo { 
    // scale: 1;
    transition: scale 100ms;

    &:hover,
    &:focus {
        scale: 1.1;
    }
}

.logo__icon {
    display: block;
    
    padding-top: 30px;
    padding-bottom: 30px;
}