%container {
    max-width: 1650px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

%button {
    background: var(--button-color);
    border: 1px solid var(--button-color);
    border-radius: 4px;
    
    font-weight: 400;
    font-size: 20px;
    line-height: 1.25;    
    
    color: #FFFFFF;

    cursor: pointer;

    scale: 1;

    transition: box-shadow 250ms;
}

%typography {
    font-family: 'Lato';
    font-style: normal;
}