:root {
    --header-text-color: #292929;
    --button-text-color: #ffffff;
    --green-text-color: #01996D;
    --hero-text-kolor: #484848;
    --main-text-color: #424242;

    --headline-list-color: #000000;
    --white-text-color: #ffffff;

    --costomizedFor-text-color: #000000;

    --bg-primary-color: #E5E5E5;
    --bg-secondary-color: #245852;

    --button-color: #01996D;
    
    --00--text-color: #01996d33;
}